body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    font-family: Verdana, Geneva, sans-serif;
}

#wrap {
    margin: 0 auto;
    width: 70%;
    background-color: white;
}

nav,
footer {
    padding: 1.6%;
}

header {
    background-color: #ddd;
}

nav,
footer {
    background-color: #0EC8C7;
    text-align: center;
}

nav ul,
footer ul {
    margin: 0;
    padding: 0;
}

nav li,
footer li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1.6% 4.6%;
}

nav a:hover {
    background-color: purple;
}



section {
    background-color: #EC3632;
    overflow: auto;
}

aside {
    background-color: #EC3632;
    width: 24%;
    float: left;
}

aside li {
    list-style-type: none;
    padding: 10px 0;

}

aside a {
    text-decoration: none;
    color: white;
}

article {
    background-color: white;
    width: 70%;
    float: right;
    padding: 3%
}

footer {
    background-color: #0EC8C7;
}

footer a {
    color: blue;
    font-size: 11px;
}

footer a:hover {
    text-decoration: underline;
}

.cupcake {
    width: 50%;
    float: right;
    padding: 0 0 1% 2%;
}

header img {
    width: 100%;

}

article h1 {
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    body {
        background-color: azure;
    }

    #wrap {
        width: 100%;
    }

    nav a,
    footer a {
        width: 100%;
        padding: 15px 0;
        display: block;
    }

    nav {
        padding: 0;
    }

    aside,
    article {
        float: none;
        width: 94%;
    }

    .cupcake {
        width: 99%;
        float: none;
    }

    aside {
        text-align: center;
    }
}
